<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murat.altindoviz"
    android:versionCode="6"
    android:versionName="1.5" >
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver android:name="AltinBroadCastReceiver" android:label="Altın Döviz Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ACTION_APPWIDGET_ENABLED" />
                <action android:name="click"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/altin" />
        </receiver>
        <service android:name=".UpdateWidgetService"></service> 
    </application>

</manifest>